body {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

* {
    font-family: Arial;
    font-size: 13px;
}
.sm-header {
    height: 48px;
    width: 100%;
    padding: 5px;
}
    .sm-header .nav-item {
        padding-right:5px;
    }


.sm-body {
    width: 100vw;
    height: calc(100vh - 48px);
    display: flex;
}

    #left-menu {
        height: 100%;
        width: 100px;
        display:none;
    }
        #left-menu #avatar-image {
            width: 100%;
            height: 100px;
            background-image: url('../images/avatar-1606916_960_720.png');
            background-size: contain;
        }
        #left-menu .btn-primary {
            line-height:30px;
            margin-left:3%;
            width: 94%;
            height: 40px;
        }

    .sm-content-menu{
        width:100%;
        padding:30px;
    }


#main-menu {
    padding: 15px;
    box-shadow: -3px 5px 6px #888888;
}
            #main-menu .btn-lg {
                margin:5px;
            }
            #main-menu .card {
                width: 100%;
                box-shadow: -3px 5px 6px #888888;
            }
            #main-menu .food-row {
                margin-bottom:10px;
            }


        #right-menu {
            box-shadow: -3px 5px 6px #888888;
        }
            #right-menu .sm-right-header{
                text-align:center;
            }
            #right-menu .sm-r-title{
                font-weight:bold;
                font-size:16px;
            }
            #right-menu .sm-right-order{
                height:45%;
            }
            #right-menu .sm-line-rights {
                margin-left:15%;
                width: 70%;
                height: 3px;
            }
            #right-menu #sm-pay{
                margin-left:30%;
            }
